@model FaveProgrammingLang.Models.Survey

@{
    ViewData["Title"] = "Create";
}

<h1></h1>

<h4>Create Survey</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">First Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSurname" class="control-label">Surname</label>
                <input asp-for="UserSurname" class="form-control" />
                <span asp-validation-for="UserSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaveProgrammingLang" class="control-label">Favarite Programming Language</label>
                <input asp-for="FaveProgrammingLang" class="form-control" />
                <span asp-validation-for="FaveProgrammingLang" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
